{% block __oro_authorize_net_frontend_echeck_payment_profile_grid__datagrid_toolbar_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' datagrid-toolbar datagrid-toolbar-bottom datagrid-toolbar--offset-bottom-lg extended'
    }) %}
    <script type="text/html" id="template-echeck-payment-profile-grid-toolbar">
        <div {{ block('block_attributes') }}>{{ block("container_widget") }}</div>
    </script>
{% endblock %}
