services:
    oro_authorize_net.authorize_net.gateway:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Gateway'
        public: false
        arguments:
            - '@oro_authorize_net.authorize_net.client.authorize_net_sdk'
            - '@oro_authorize_net.authorize_net.request.registry'

    oro_authorize_net.authorize_net.client.authorize_net_sdk:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\AuthorizeNetSDKClient'
        public: false
        arguments:
            - '@oro_authorize_net.authorize_net.client.factory.anet_sdk_request_factory'
            - '@oro_authorize_net.authorize_net.response.response_factory'
            - '@logger'
        tags:
            - { name: monolog.logger, channel: oro_authorize_net }

    oro_authorize_net.authorize_net.response.response_factory:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Response\ResponseFactory'
        public: false
        arguments:
            - '@jms_serializer.serializer'


    oro_authorize_net.authorize_net.request.registry:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\RequestRegistry'
        public: false

    oro_authorize_net.authorize_net.request.authorize:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\AuthorizeRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.charge:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\ChargeRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.capture:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\CaptureRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.create_customer_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\CreateCustomerProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.delete_customer_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\DeleteCustomerProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.create_customer_payment_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\CreateCustomerPaymentProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.update_customer_payment_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\UpdateCustomerPaymentProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.get_customer_payment_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\GetCustomerPaymentProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.get_customer_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\GetCustomerProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.delete_customer_payment_profile:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\DeleteCustomerPaymentProfileRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.authenticate_test_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\AuthenticateTestRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.request.get_transaction_details:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Request\GetTransactionDetailsRequest'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.request }

    oro_authorize_net.authorize_net.client.factory.anet_sdk_request_factory:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\Factory\AnetSDKRequestFactory'
        public: false
        arguments:
            - '@oro_authorize_net.authorize_net.client.request_configurator.registry'

    oro_authorize_net.authorize_net.client.request_configurator.registry:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\RequestConfiguratorRegistry'
        public: false

    oro_authorize_net.authorize_net.client.request_configurator.fallback:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\FallbackRequestConfigurator'
        public: false
        arguments:
            - '@property_accessor'
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.merchant_authentication:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\MerchantAuthenticationRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.transaction_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\TransactionRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.create_customer_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\CreateCustomerProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.delete_customer_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\DeleteCustomerProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.create_customer_payment_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\CreateCustomerPaymentProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.get_customer_payment_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\GetCustomerPaymentProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.get_customer_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\GetCustomerProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.update_customer_payment_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\UpdateCustomerPaymentProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.delete_customer_payment_profile_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\DeleteCustomerPaymentProfileRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }

    oro_authorize_net.authorize_net.client.request_configurator.get_transaction_details_request:
        class: 'Oro\Bundle\AuthorizeNetBundle\AuthorizeNet\Client\RequestConfigurator\GetTransactionDetailsRequestConfigurator'
        public: false
        tags:
            - { name: oro_authorize_net.authorize_net.client.request_configurator }
