/* @theme: default; */

.authorizenet-payment-profile {
    .request-form-container:not(:last-child) {
        margin-bottom: 20px;
    }

    .fieldset-label {
        font-size: $grid-views-title-font-size;
        font-family: $grid-views-title-font-family;
        text-transform: $grid-views-title-text-transform;
        padding-left: $offset-y-m;
        padding-bottom: 5px;
        font-weight: font-weight('medium');
    }

    .form-field-CVV2 {
        margin-right: $offset-x-m;
    }
}
